name: Release

on:
  push:
    branches: [ "main" ]
  # Build every Monday
  schedule:
    - cron: '0 0 * * 1'
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build Artifacts for supported boards
    runs-on: ubuntu-22.04
    env:
      OS_LIST_NAME: "MicroPython"
      OS_LIST_DESC: "MicroPython is a lean and efficient implementation of the Python 3 programming language, specifically designed to run on microcontrollers and other embedded systems"
      OS_LIST_ICON: "https://media.githubusercontent.com/media/beagleboard/bb-imager-rs/refs/heads/main/assets/os/micropython.webp"
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setting up variables
        run: |
          export RELEASE_DATE=$(date +"%Y-%m-%d")
          echo "RELEASE_DATE=${RELEASE_DATE}" >> $GITHUB_ENV

      - name: Setup
        run: |
          mkdir dist
          jq -n '.imager = {} | .os_list = []' > os_list.json

      - name: Install packaging deps
        run: |
          sudo apt-get update -y
          sudo apt-get install -y --no-install-recommends mtools

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: upstream_boards
          toolchains: arm-zephyr-eabi:aarch64-zephyr-elf

      - name: Building For PocketBeagle 2 A53s
        env:
          TARGET: pocketbeagle_2-am6254-a53
          DEVICE: pocketbeagle2-am62
          FLASHER: SdCard
        run: |
          make dist/${TARGET}.bin.xz
          make -j$(nproc) dist/${TARGET}.img.xz
          ./os_list.sh ${TARGET}.img.xz

      - name: Building For BeaglePlay
        env:
          TARGET: beagleplay-cc1352p7.bin.xz
          DEVICE: beagle-am62
          FLASHER: "BeaglePlayCC1352P7"
        run: |
          make dist/${TARGET}
          ./os_list.sh ${TARGET}

      - name: Building For BeagleConnect Freedom
        env:
          TARGET: beagleconnect_freedom.bin.xz
          DEVICE: beagleconnect-freedom
          FLASHER: "BeagleConnectFreedom"
        run: |
          make dist/${TARGET}
          ./os_list.sh ${TARGET}

      - name: Pre-Release
        uses: softprops/action-gh-release@v2
        if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
        with:
          prerelease: true
          name: Continuous Release
          tag_name: continuous-release
          body: Continuous builds of MicroPython
          files: |
            dist/*.bin.xz
            dist/*.img.xz
            os_list.json
